main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.container{
    width: 85%;
    height: auto;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

}

.number{
    width: calc(90% / 6);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 3rem;
    border: 1px white solid;
    outline: 1px;
}